.main-content-alpha {
    padding-left: 30px;
    padding-right: 30px;
}

.header-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
   
}

.sub-header-content {
    padding-bottom: 10px;
}

.back-arrow {
    font-size:35px;
    color: darkblue;
    cursor: pointer;
}
.title-content {
    display: flex;
    column-gap: 10px;
}

.global-head {
    padding-bottom: 20px;
}

.icon-action-edit {
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding-right: 20px;
}
.icon-action-delete {
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding-right: 20px;
}
.icon-action-detail {
    cursor: pointer;
    font-size: 20px;
    color:black;
    padding-right: 20px;
}

.icon-action {
    display: flex;
}

.icon-action-edit[title]:hover::after,
.icon-action-delete[title]:hover::after {
  content: attr(title);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}