.main-content-alpha {
    padding-left: 30px;
    padding-right: 30px;
}

.header-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.back-arrow {
    font-size:35px;
    color: darkblue;
    cursor: pointer;
}
.title-content {
    display: flex;
    column-gap: 10px;
}
