.add-student {
    padding: 6px;
  }
  
  .right-button-student-list {
    justify-content: end;
    display: flex;
    padding: 6px;
    column-gap: 20px;
  }
  
  .search-box-global {
    background: white;
    box-shadow: 0 0 5px rgba(189, 185, 185, 0.5);
    padding: 20px;
  }
  
  .button-search-student {
    display: flex;
    column-gap: 11px;
    padding: 10px;
  }
  .button-edit-current-classroom {
    display: flex;
    justify-content: end;
  }
  .button-edit-parent {
    display: flex;
    column-gap: 10px;
    justify-content: end;
  }

  .add-button-parent {
    display: flex;
    justify-content: end;
    height: 80%;
  }

  .button-edit-student {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
  }