.add-classroom {
  padding: 6px;
}

.right-button-classroom-list {
  justify-content: end;
  display: flex;
  padding: 6px;
  column-gap: 20px;
}

.search-box-global {
  background: white;
  box-shadow: 0 0 5px rgba(189, 185, 185, 0.5);
  padding: 20px;
}

.button-search-classroom {
  display: flex;
  column-gap: 11px;
  padding: 10px;
}

.button-student-moved {
  justify-content: end;
  display: flex;
  padding-top: 20px;

}

.button-add-schedule-classroom {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
  padding-top: 10px;
  column-gap: 15px
}